---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Experience | Vaidehi Pujary">
  <section class="page-header">
    <p class="eyebrow">Experience</p>
    <h1>Research, engineering, and teaching experience</h1>
  </section>

  <section class="timeline">
  <article class="timeline-item">
  <div class="experience-logo">
        <img src="/images/logos/amazon.png" alt="Amazon Lab126 logo" />
      </div>
      <div class="experience-content">
      <h2>Hardware Development Engineering Intern</h2>
      <p class="meta">Amazon Lab126</p>
      <p>
        Worked on optical metrology simulations, including phase-shifting
        interferometry, two-wavelength analysis, and camera-based modeling.
      </p>
      </div>
    </article>

    <article class="timeline-item">
     <div class="experience-logo">
        <img src="/images/logos/onto.png" alt="Onto Innovation/4D Technology logo" />
      </div>
      <div class="experience-content">
      <h2>Optical Engineering Intern</h2>
      <p class="meta">4D Technology Corporation, an Onto Innovation subsidiary</p>
      <p>
        Worked on optical metrology simulations, including phase-shifting
        interferometry, two-wavelength analysis, and camera-based modeling.
      </p>
      </div>
    </article>

    <article class="timeline-item">
    <div class="experience-logo">
        <img src="/images/logos/cepheid.png" alt="Cepheid logo" />
      </div>
      <div class="experience-content">
      <h2>R&D Electrical Engineering Intern</h2>
      <p class="meta">Cepheid</p>
      <p>
        Supported design verification and optoelectronic component testing through
        automated measurements, data analysis, and documentation.
      </p>
      </div>
    </article>

    <article class="timeline-item">
    <div class="experience-logo">
        <img src="/images/logos/purdue.png" alt="Purdue logo" />
      </div>
      <div class="experience-content">
      <h2>Graduate Teaching Assistant</h2>
      <p class="meta">Purdue ECE</p>
      <p>
        Led circuits lab sections, supported students during lab work, graded
        technical submissions, and communicated course logistics.
      </p>
      </div>
    </article>
  </section>
</BaseLayout>